.sectionLink,
.sectionLink {
  position: relative;
  z-index: 99;
  display: inline-block;
  padding: 8px;
  margin-top: 20px;
  color: inherit;
  text-transform: uppercase;
  text-decoration: none;
  transition: all 0.35s;
  font-size: 90%;
  cursor: pointer;
  background-color: var(--mainColor);
}

.sectionLink:hover,
.sectionLink:active {
  font-size: 95%;
}

.btn,
.btn {
  display: inline-block;
  padding: 10px 30px;
  margin: 10px auto;
  text-decoration: none;
  font-weight: 300;
  transition: background-color 0.2s, border 0.2s, color 0.2s;
  background-color: var(--mainColor);
  border: 1px solid var(--mainColor);
  color: var(--textColor);
}

.btnFull,
.btnGhost {
  margin-right: 15px;
}

.btnGhost,
.btnGhost {
  background-color: var(--whiteColor);
  border: 1px solid var(--mainColor);
}

.btn:hover,
.btn:active {
  background-color: var(--whiteColor);
  border: 1px solid var(--mainColor);
}

.btnGhost:hover,
.btnGhost:active {
  background-color: var(--mainColor);
  border: 1px solid var(--mainColor);
}
