.sectionLink,
.sectionLink {
  position: relative;
  z-index: 99;
  display: inline-block;
  padding: 8px;
  margin-top: 20px;
  color: inherit;
  text-transform: uppercase;
  text-decoration: none;
  transition: all 0.35s;
  font-size: 90%;
  border: 1px solid;
  cursor: pointer;
  background-color: var(--palleteColor2);
}

.sectionLink:hover,
.sectionLink:active {
  font-size: 95%;
}
