:root {
  --nav-item-padding: 0.5rem;
}

.icon {
  color: var(--textColor);
}

.navBarWrapper {
  background-color: var(--palleteColor2);
  color: var(--palleteColor4);
}

.navBarWrapperTop {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
  height: 35px;
}

.navBarFakeTop {
  width: 100%;
  display: block;
  height: 35px;
}

.navBar {
  margin: 0 auto;
  display: none;
  justify-content: center;
  border-bottom: 1px solid var(--textColor);
}

.navBarCollapse {
  border-top: 1px solid var(--textColor);
  display: block;
}

@media (max-width: 43.75em) {
  .collapse {
    max-height: 0;
    overflow-y: hidden;
  }
}

.mainNav {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
}

.mainNav li {
  display: inline-block;
  flex: 1;
  padding: 0 calc(var(--nav-item-padding) * 2);
}

.mainNav li:hover,
.mainNav li:active {
  background-color: var(--palleteColor1);
}

.link:link,
.link:visited {
  padding: 5px;
  display: flex;
  color: inherit;
  text-transform: uppercase;
  text-decoration: none;
  transition: all 0.35s;
  font-size: 90%;
  justify-content: center;
}

.link:hover,
.link:active {
  padding: 5px 5px 6px;
  margin: 0;
}

.link svg {
  fill: currentColor;
  opacity: 0.5;
  margin-right: 0.5rem;
  width: 1.5rem;
  height: 1.5rem;
  vertical-align: middle;
}
