header {
  height: 100vh;
}

.banner {
  height: 70vh;
}

.logo {
  height: 30vh;
  display: flex;
}

.heroTextBox {
  z-index: 10;
  position: absolute;
  top: 60vh;
  left: 35vw;
  transform: translate(-50%, -50%);
}

.btn:link,
.btn:visited {
  display: inline-block;
  padding: 10px 30px;
  margin: 10px auto;
  text-decoration: none;
  font-weight: 300;
  transition: background-color 0.2s, border 0.2s, color 0.2s;
  background-color: var(--palleteColor2);
  border: 1px solid var(--palleteColor2);
  color: var(--palleteColor4);
}

.btnFull:link,
.btnFull:visited {
  margin-right: 15px;
}

.btnGhost:link,
.btnGhost:visited {
  background-color: var(--palleteColor1);
  border: 1px solid var(--palleteColor1);
}

.btn:hover,
.btn:active {
  background-color: var(--palleteColor1);
  border: 1px solid var(--palleteColor1);
}

.btnGhost:hover,
.btnGhost:active {
  background-color: var(--palleteColor2);
  border: 1px solid var(--palleteColor2);
}
