.welcomeSections {
  width: var(--containerWidth);
  margin: 0 auto;
}

section {
  padding: 80px 0;
}

.longCopy {
  line-height: 145%;
  width: 70%;
  margin-left: 15%;
}

h2 {
  margin-bottom: 20px;
  font-size: 180%;
  font-weight: 300;
  color: var(--mainColor);
  letter-spacing: 1px;
  word-spacing: 2px;
  text-align: center;
}
