@media only screen and (max-device-width: 667px), only screen and (max-width: 667px) {
  .slider menu {
    display: none;
  }
}

@media only screen and (max-device-width: 767px), only screen and (max-width: 767px) {
  .slider menu {
    top: 50%;
  }
}

.slider {
  position: relative;
  overflow-x: hidden;
  will-change: transform;
}

.slider ul {
  list-style: none;
  padding-left: 0;
}

.slider ul li img {
  display: block;
  max-width: 100%;
  object-fit: cover;
  margin: 0 auto;
}

.slider ol {
  position: absolute;
  margin: 0;
  padding: 0;
  list-style-type: none;
  bottom: 0.5em;
  text-align: center;
  width: 100%;
}

.slider ol li {
  display: inline-block;
  min-width: 10px;
  min-height: 10px;
  width: 0.6em;
  height: 0.6em;
  background-color: #bec0bc;
  margin: 0 0.5em;
  border-radius: 50%;
  overflow: hidden;
}

.slider ol button {
  opacity: 0;
  cursor: pointer;
}

.slider ol .active {
  pointer-events: none;
  background-color: black;
}

.slider menu {
  position: absolute;
  width: 100%;
  top: 50%;
  margin-top: -1em;
}

.slider menu button {
  position: absolute;
  font-size: inherit;
  background-size: cover;
  height: 2em;
  width: 2em;
  padding: 0;
  border: 0;
  outline: none;
  cursor: pointer;
  opacity: 0.75;
  background-color: transparent;
  margin: 0 1em;
}

.prev {
  left: 0;
  background-image: url('data:image/svg+xml;utf8,%3Csvg%20width%3D%22200%22%20height%3D%22200%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%3Cdefs%3E%3Cmask%20id%3D%22mask%22%3E%3Ccircle%20id%3D%22circle%22%20cx%3D%22100%22%20cy%3D%22100%22%20r%3D%22100%22%20fill%3D%22white%22%20%2F%3E%3Cpolyline%20points%3D%22130%2C45%2065%2C100%20130%2C155%22%20stroke%3D%22black%22%20stroke-width%3D%2225%22%20fill%3D%22none%22%20%2F%3E%3C%2Fmask%3E%3C%2Fdefs%3E%3Cuse%20xlink%3Ahref%3D%22%23circle%22%20mask%3D%22url(%23mask)%22%20%2F%3E%3C%2Fsvg%3E');
}

.next {
  right: 0;
  background-image: url('data:image/svg+xml;utf8,%3Csvg%20width%3D%22200%22%20height%3D%22200%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%3Cdefs%3E%3Cmask%20id%3D%22mask%22%3E%3Ccircle%20id%3D%22circle%22%20cx%3D%22100%22%20cy%3D%22100%22%20r%3D%22100%22%20fill%3D%22white%22%20%2F%3E%3Cpolyline%20points%3D%2270%2C45%20135%2C100%2070%2C155%22%20stroke%3D%22black%22%20stroke-width%3D%2225%22%20fill%3D%22none%22%20%2F%3E%3C%2Fmask%3E%3C%2Fdefs%3E%3Cuse%20xlink%3Ahref%3D%22%23circle%22%20mask%3D%22url(%23mask)%22%20%2F%3E%3C%2Fsvg%3E');
}
