.footer {
  background: var(--mainColor);
  text-align: center;
}

.footer a {
  color: var(--secondaryColor);
}

h4 {
  color: var(--textColor);
}

input {
  border: 1px solid var(--secondaryColor);
  font-size: 15px;
  min-height: 32px;
  width: 58%;
  min-width: 130px;
  padding: 0 0.4em;
  margin: 0 4% 10px 0;
  border-radius: 3px;
}

.content {
  margin: 0 auto;
}

.phenomicReference {
  font-size: 0.75rem;
  text-decoration: none;
}

.phenomicReferenceName {
  font-weight: 100;
}
