@custom-media --tablet-portrait (480px < width <= 786px);
@custom-media --tablet-landscape (786px < width <= 1024px);
@custom-media --tablet-and-up (width > 480px);
@custom-media --desktop-and-up (width > 1024px);

.stocktveld {
  font-size: 0.7rem;
  font-weight: 300;
  line-height: 1.3rem;
  display: flex;
  flex-direction: column;
}

h1,
h2,
h3,
h4 {
  font-weight: 300;
  padding-bottom: 5%;
  letter-spacing: 0.5px;
  word-spacing: 1.5px;
}

h1 {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 220%;
  text-transform: uppercase;
  word-spacing: 4px;
}

h2 {
  font-size: 220%;
  line-height: 120%;
}

h4 {
  font-size: 150%;
  line-height: 110%;
}

p {
  color: var(--textColor);
}

@media (--tablet-and-up) {
  h1,
  h2,
  h3,
  h4 {
    letter-spacing: 1px;
    word-spacing: 2px;
  }

  .stocktveld {
    font-weight: 300;
    line-height: 1.5rem;
    font-size: 1rem;
  }
}

@media (--tablet-portrait) {
  .stocktveld {
    font-size: 0.9rem;
  }
}
